*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 1000px;
    background-color: midnightblue;
    margin: 0px auto;
    padding: 15px;
   }
   #header{
    min-height: 100px;
    width: 970px;
    background-color: red;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
    color:white;   
   }
   #navigation{
    min-height: 300px;
    width: 150px;
    background-color: mediumaquamarine;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    border-radius: 20px;
    padding: 30px;
    color: aqua;
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: black;
    display: inline-block;
    color:white;
    padding: 20px 10px 10px 30px;
    border-radius: 20px;
   }
   #footer{
       min-height: 80px;
       width: 970px;
       background-color: gray;
       margin-top: 15px;
       border-radius: 20px;
       padding: 15px;
       color: gainsboro;
   }
   .ul{
       margin-bottom: 50px;
   }
   .li{
       padding: 30px;
   }
   a:link{
       color: aquamarine;
   }
   .p{
       text-align: justify;
   }