* {
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    height: 100vh;
}
.box{
    width: 50%;
    height: 100vh;
}
.box-left{
    background-image:url('https://abs.twimg.com/sticky/illustrations/lohp_850x623.png');
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-right{
    background-color: black;
}
.box-left img{
    width: 40%;
}
input::placeholder{
    background-color: black;
    padding: 2%;
}
input{
    outline: 1px solid gray;
    width: 27px;
    height: 40px;
    margin-right: 15px;
}