*{
    margin: 0px;
    padding: 0px;
   }
  .container{
      width: 970px;
      background-color: #1B345D;
      margin: 0px auto;
      padding: 15px;
  }
  .header{
      width: 950px;
      height: 70px;
      background-color: red;
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 10px;
  }
  .header h1{
      margin-top: 20px;
      margin-left: 15px;
      color: #C3CDE3;
  }
  .navegation{
      width: 165px;
      background-color:#2A7D8C;
      border-radius: 15px;
      display: inline-block;
      vertical-align: top;
      padding: 15px;
      font-size: 16px;
      color: #37909C;
  }
  a{
    color: #37909C;
  }
  .navegation ul{
      margin-left: 20px;

  }
  .content{
      width:725px;
      background-color: black;
      display: inline-block;
      border-radius: 15px;
      margin-left: 10px;
      color: #C3CDE3;
      padding: 30px 20px 20px 15px;
  }
  .content p{
      text-align: justify;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 15px;
  }

  .content ul{
      margin-left: 15px;
  }

  .content ul li p{
      text-align: justify;
  }

span{
    color:#4B56E1;
}
.footer{
    width: 950px;
    height: 35px;
    background-color: #5D6673;
    margin-top: 15px;
    border-radius: 15px;
    padding: 10px;
    color: #687382;
}