* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dotted red;*/
}

.container{
    width: 1040px;
    background-color: #D5D2AE;
    margin: 0px auto;
    padding: 15px;
}

.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    padding-top:20px;
    padding-left: 20%;
    margin-bottom: 15px;
}

.header h1{
    display: inline-block;
    vertical-align: bottom;

}

.header img{
    width: 150px ;
    height: 75px ;
}

.main{
    margin: 0px 0px 15px 20px;  
}
.main div{
    display: inline-block;
    vertical-align: top;
}

.main ul li{
    width: 170px;
    height: 150px;
    list-style: none;
    padding:5px 2px 5px 10px;
    margin-left: 5px;
    margin-top:5px;
    border:black 5px solid ;
}

.impar ul li{
    background-color: #82B4EE;
}
.par ul li{
    background-color: #F36870;
}
.main ul li img{
    width: 150px;
    height: 120px;
}

