* {
    margin: 0px;
    padding: 0px;
    /*outline: 1px dotted red;*/
}

.container{
    width: 1024px;
    background-color: #D5D2AE;
    margin: 0px auto;
}

.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    padding-top:20px;
    padding-left: 25%;
    margin-bottom: 15px;
}

.header h1{
    display: inline-block;
    vertical-align: bottom;

}

.header img{
    width: 101px ;
    height: 51px ;
}

.main{
    margin: 0px 0px 15px 20px;  
}
.main div{
    display: inline-block;
    vertical-align: top;
}

.main ul li{
    width: 170px;
    height: 200px;
    list-style: none;
    padding:5px;
    margin-left: 5px;
    margin-top:5px;
}

.impar ul li{
    background-color: #82B4EE;
}
.par ul li{
    background-color: #F36870;
}
.main ul li img{
    width: 150px;
    height: 170px;
}

